#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.mySwiper{
  background-size: cover;
    background-position: center;
  background-image: url('../assets/images/bacground1.jpg') ;
}
.swiper {
  /* width: 80%; */
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center; 
  background-size: cover;
  width: 15rem;
  height: 15rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
}



@media (max-width: 768px) {
  .swiper-slide{
    width: 10rem;
  height: 10rem;
  }
}

@media (max-width:576px){
  .swiper-slide{
    width: 8rem;
  height: 8rem;
  }
  .mySwiper .swiper-button-prev,
  .mySwiper .swiper-button-next {
    display: none;
  }
}



